@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, button, input, select, textarea{
    font-family: 'Roboto', sans-serif;
}

:root{
    --gradient-color: rgb(41,55,75);
}

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    background: linear-gradient(90deg, rgba(0,98,170,1) 31%, rgba(0,64,106,1) 60%, rgba(22,55,78,1) 100%);
}

.container{
    background: white;
    width: 400px;
    height: 400px;
    margin: 100px auto;
    border-radius: 80px;
}

.card-timer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50pt;
    padding-top: 120px;
}

.card-button{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.card-button button{
    margin: 5px;
    border: 3px solid #16374e;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
    padding: 10px;
    transition-duration: 0.4s;
    color: #16374e;
}
button:hover{
    background-color: #16374e;
    color: white;
}
.card-button svg{
    width: 25px;
    height: 25px;
}

#more-minutes{
    font-size: 12pt;
    font-weight: bold;
}