@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, button, input, select, textarea{
    font-family: 'Roboto', sans-serif;
}

:root{
    --gradient-color: rgb(41,55,75);
}

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    background: linear-gradient(90deg, rgba(41,55,75,1) 25%, rgba(41,77,130,1) 51%, rgba(80,201,206,1) 90%);
}

.container{
    background: white;
    width: 500px;
    height: 500px;
    margin: 100px auto;
    border-radius: 100px;
}

.card-timer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50pt;
    padding-top: 150px;
}

.card-button{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.card-button button, svg{
    margin: 5px;
    border: none;
    cursor: pointer;
    background-color: white;
}





